apache-airflow-providers-amazon==1.1.0
apache-airflow-providers-apache-cassandra==1.0.1
apache-airflow-providers-apache-druid==1.0.1
apache-airflow-providers-apache-hdfs==1.0.1
apache-airflow-providers-apache-hive==1.0.1
apache-airflow-providers-apache-kylin==1.0.1
apache-airflow-providers-apache-livy==1.0.1
apache-airflow-providers-apache-pig==1.0.1
apache-airflow-providers-apache-pinot==1.0.1
apache-airflow-providers-apache-spark==1.0.1
apache-airflow-providers-apache-sqoop==1.0.1
apache-airflow-providers-celery==1.0.1
apache-airflow-providers-cloudant==1.0.1
apache-airflow-providers-cncf-kubernetes==1.0.1
apache-airflow-providers-databricks==1.0.1
apache-airflow-providers-datadog==1.0.1
apache-airflow-providers-dingding==1.0.1
apache-airflow-providers-discord==1.0.1
apache-airflow-providers-docker==1.0.1
apache-airflow-providers-elasticsearch==1.0.1
apache-airflow-providers-exasol==1.1.0
apache-airflow-providers-facebook==1.0.1
apache-airflow-providers-ftp==1.0.1
apache-airflow-providers-google==1.0.0
apache-airflow-providers-grpc==1.0.1
apache-airflow-providers-hashicorp==1.0.1
apache-airflow-providers-http==1.1.0
apache-airflow-providers-imap==1.0.1
apache-airflow-providers-jdbc==1.0.1
apache-airflow-providers-jenkins==1.0.1
apache-airflow-providers-jira==1.0.1
apache-airflow-providers-microsoft-azure==1.1.0
apache-airflow-providers-microsoft-mssql==1.0.1
apache-airflow-providers-microsoft-winrm==1.0.1
apache-airflow-providers-mongo==1.0.1
apache-airflow-providers-mysql==1.0.1
apache-airflow-providers-odbc==1.0.1
apache-airflow-providers-openfaas==1.1.0
apache-airflow-providers-opsgenie==1.0.1
apache-airflow-providers-oracle==1.0.1
apache-airflow-providers-pagerduty==1.0.1
apache-airflow-providers-papermill==1.0.1
apache-airflow-providers-plexus==1.0.1
apache-airflow-providers-postgres==1.0.1
apache-airflow-providers-presto==1.0.1
apache-airflow-providers-qubole==1.0.1
apache-airflow-providers-redis==1.0.1
apache-airflow-providers-salesforce==1.0.1
apache-airflow-providers-samba==1.0.1
apache-airflow-providers-segment==1.0.1
apache-airflow-providers-sendgrid==1.0.1
apache-airflow-providers-sftp==1.1.0
apache-airflow-providers-singularity==1.0.1
apache-airflow-providers-slack==2.0.0
apache-airflow-providers-snowflake==1.1.0
apache-airflow-providers-sqlite==1.0.1
apache-airflow-providers-ssh==1.1.0
apache-airflow-providers-telegram==1.0.1
apache-airflow-providers-vertica==1.0.1
apache-airflow-providers-yandex==1.0.1
apache-airflow-providers-zendesk==1.0.1
